vendor(prop,arguments)
	-webkit-{prop} arguments
	-moz-{prop} arguments
	-ms-{prop} arguments
	-o-{prop} arguments
	{prop} arguments

// Propertys and values(arguments)
box-sizing()
	vendor('box-sizing', arguments)