@import "__constrants/variables.styl"
/***** Fondos  ******/
.bck-theme
  background-color: color_theme
.bck-red
	background-color color_red
.bck-blue
	background-color color_blue
.bck-fondo
	background-image url("../images/bg-fondo.png")

/********* colores ****************/
.color-white
  color: color_white
/************ imagenes ******************/
.responsive
	max-width 100%
/******* textos *******/
.text-left
	text-align left
.text-right
	text-align right
.text-center
	text-align center
.text-justify
	text-align justify
/********** margenes internos (padding) **************/
.padding
	padding 1rem
/******** margenes externos (margin)*****/
.margin 
	margin 1rem
/******** bloques *********/
.block-center
	display block
	margin-left auto
	margin-right auto
/******* decoraciones *****/
.radius
	border-radius .5rem
/******** borders *********/
.border-theme 
	border .2rem solid color_theme